In [5]:
#q1
name=input("enter student name")
marks=int(input("student marks"))
#t=dict({name:marks})
t=dict()
#t.update({name:marks})
t[name]=marks
print(t)
n=input("enter name")
print(t[n])

{'pritvi': 100}
100

In [6]:
#q2
d=eval(input("enter names:marks"))
print(d)
for i in d:
    print(i," : ",d[i])

{'ishika': 23, 'mini': 100, 'rishi': 98}
ishika  :  23
mini  :  100
rishi  :  98

In [7]:
#q3
d=eval(input("enter names:marks"))
print(d)
print(sum(d.values()))

{'qiowdj': 278, 'sd': 89}
367

In [9]:
#q4
e2f=eval(input("enter names:marks"))
print(e2f)
for i in e2f:
    print(i,"is",e2f[i])

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}
dog is chien
cat is chat
walrus is morse

In [16]:
#q5
tlds = {"Canada": "ca", "United States": "us", "Mexico": "mx"}
print("Canada" in tlds)
print("France" in tlds)
for i in tlds:
    print(i," ",tlds[i])
tlds["Sweden"]="sw"#or update
print()
print(tlds)
tlds.update({"Sweden":"se"})#do not use setdfault coz "Sweden is alredy in the list and value will not be added"
print(tlds)

tlds2=dict()
for i in tlds:
    tlds2[tlds[i]]=i

#or
tlds3=dict()
for x,y in tlds.items():
    tlds3[y]=x
    

print(tlds2)
print(tlds3)

True
False
Canada   ca
United States   us
Mexico   mx

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}
{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}
{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}
{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

In [17]:
#q6
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5}
print(list(roman_numerals.values()))
print(list(roman_numerals.keys()))
print(list(roman_numerals.items()))

[1, 2, 3, 5]
['I', 'II', 'III', 'V']
[('I', 1), ('II', 2), ('III', 3), ('V', 5)]

In [ ]:
#q7
d={i:i**3 for i in range(1,6) }#use curly brackets in dict domprehension
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [22]:
#q8
life={
    "animals":{
        "cats":"Henri",
        "octopi":"Grumpy",
        "emus":"Lucy"
    },
    "plants":{},
    "other":{}
}
print(life)

{'animals': {'cats': 'Henri', 'octopi': 'Grumpy', 'emus': 'Lucy'}, 'plants': {}, 'other': {}}

In [25]:
#q9
str=input("enter a string")
d=dict()
for i in str:
    if i not in d:
        d[i]=str.count(i)

print(d)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [ ]:
#q10
str=input("enter a string")
d=dict()
for i in str:
      i=i.lower()
      if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u') and (i not in d):
            d[i]=str.count(i)
print(d)
#i/p="ishika"

{'i': 2, 'a': 1}

In [1]:
#q11
def num_to_name(a):
    match(a):
        case 1:
            return "one"
        case 2:
            return "two"
        case 3:
            return "three"
        case 4:
            return "four"
        case 5:
            return "five"
        case 6:
            return "six"
        case 7:
            return "seven"
        case 8:
            return "eight"
        case 9:
            return "nine"
        
n=(input("enter integer"))

''' i in range(l-1,-1):
     print(num_to_name(n/(10**i)))
     n=n%(10**i)'''
     
for i in n:
    print(num_to_name(int(i)),end=" ")
    #i/p:-452

four five three

In [ ]:
#q12
s=input("enter a sentence")
s=s.lower()+" "
d=dict()
i=0
while i<len(s):
    ind=s.index(" ",i)#index(" ")
    #print(ind)
    word=s[i:ind]
    if word not in d:
      d[s[i:ind]]=s.split().count(s[i:ind])
    i=ind+1
print(d)

#i/p cat is cat

{'cat': 2, 'is': 1}

In [ ]:
#q13
def unique(l):
    l.sort()
    se=set()
    for i in l:
        s=i.lower()
        se.add(s)
        if i in se:
            se.discard(s)
    print(se)

l=eval(input("enter list of words"))
unique(l)

#i/p:-["is","are","is","car","car","tree"]

TypeError: unbound method list.sort() needs an argument