In [17]:
#q1
from decimal import Decimal, getcontext,ROUND_UP,ROUND_DOWN
import random
#getcontext().prec=3

n=int(input("enter size"))
l1=[random.random() for i in range(n) ]
print(l1)
print("sum:",sum(l1))
print("average",sum(l1)/n)

'''Decimal(random.random()): Ensures the random numbers are converted to Decimal objects with the specified precision.
float(): Converts the Decimal back to a float for consistent list formatting.'''

[0.9801280931288819, 0.3238402423520038, 0.12588070224936765]
sum: 1.4298490377302535
average 0.4766163459100845

'Decimal(random.random()): Ensures the random numbers are converted to Decimal objects with the specified precision.\nfloat(): Converts the Decimal back to a float for consistent list formatting.'

In [ ]:
#q2
def k(*arg):
    y=tuple((arg[0],arg[1],arg[2]))#don't forget (())
    return y

print(k("Doug",22,1984))

('Doug', 22, 1984)

In [7]:
#Q3
l=list()
def f(ch):
    match (ch):
        case "a":
            n=int(input("enter limit"))
            for i in range(n):
                el=int(input("enter lement of list l"))
                l.append(el)
        case "b":
             #for i in l:
                # print (i,end=",")
             print(l)
        case "c":
              a=int(input("enter a number at a specified position"))
              pos=int(input("enter pos < length"))
              l.insert(pos,a)
        case "d":
              n=int(input("enter element to be deleted"))
              l.remove(n) 
              print(l)
        case 'e':
              SystemExit
i=0   
while(i<6):
   n=input("""enter ur choice:
         a. Create a list of N integers
 b. Display the list elements
 c. Insert an element at a specific position
 d. Delete an element at a given position
 e. Exit""")
   print("choice:",n)
   f(n)
   #print(l)
   i+=1

choice: a
choice: b
[1, 2, 3]
choice: c
choice: b
[1, 2, 15, 3]
choice: d
[1, 15, 3]
choice: b
[1, 15, 3]

In [13]:
#q4
l1=eval(input("enter list"))
n=int(input("enter ele to be removed"))
print("list:",l1)
if n in l1:
 for t in l1:
   if t==n:
      l1.remove(t)
else:
 print("element is not present")
print(l1)

list: [1, 3, 1, 23, 4, 1]
[3, 23, 4]

In [18]:
#q5
day, *hightemperature = ('Monday', 87, 65)
print(day,hightemperature)
#take star

numbers = [1, 2, 3, 4, 5]
numbers[10]

Monday [87, 65]

IndexError: list index out of range

In [19]:
name = 'amanda'
name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [20]:
numbers = [1, 2, 3, 4, 5]
numbers[3.4]

TypeError: list indices must be integers or slices, not float

In [21]:
studenttuple =('Amanda', 'Blue', [98, 75, 87])
studenttuple[0] = 'Ariana'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#f
('Monday', 87, 65) + 'Tuesday'

TypeError: can only concatenate tuple (not "str") to tuple

In [23]:
#g
'A'+= ('B', 'C')

SyntaxError: 'literal' is an illegal expression for augmented assignment (3424998416.py, line 2)

In [24]:
x = 7
del x
print(x)

NameError: name 'x' is not defined

In [25]:
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

ValueError: 10 is not in list

In [26]:
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)
print(numbers)

TypeError: list.extend() takes exactly one argument (3 given)

In [27]:
#k
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [28]:
 values = []
 values.pop()

IndexError: pop from empty list

In [30]:
#q6

l1=eval(input("enter a list of 10 numbers"))
a=int(input("enter a number"))
if a in l1:
    print("yes present:",a)
    print(l1.count(a))

yes present: 5
2

In [1]:
#q7
l1=eval(input("enter a list of numbers"))
l2=[str(sum(l1[:i+1])) for i in range(len(l1)) ]
print(l2)

['1', '4', '10']

In [7]:
#q8
def f(i):
    l3=list()
    for k in range(5):
        l3.append(i*(k+1))
    return l3
n=int(input("enter limit of final list"))
res=list()
for i in range(n):
    l1=f(i)#i+1 if dont wnat tp print 0th
    res.append(l1)

print(res)

[[0, 0, 0, 0, 0], [1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [14]:
#q9
address='B-6,Lodhiroad,Delhi'
list1=[1,2,3]
list2=['a',1,'z',26,'d',4]
tuple1=('a','e','i','o','u')
tuple2=tuple(([2,4,6,8],[3,6,9],[4,8],5))
list1[3]=4

IndexError: list assignment index out of range

In [ ]:
print(list1*2)


print(min(list2))

[1, 2, 3, 1, 2, 3]

TypeError: '<' not supported between instances of 'int' and 'str'

In [15]:
#9_4
print(max(list1))
print(list(address))

3
['B', '-', '6', ',', 'L', 'o', 'd', 'h', 'i', 'r', 'o', 'a', 'd', ',', 'D', 'e', 'l', 'h', 'i']

In [16]:
#
list2.extend(['e',5])
print(list2)

['a', 1, 'z', 26, 'd', 4, 'e', 5]

In [17]:
list2.append(['e',5])
print(list2)

['a', 1, 'z', 26, 'd', 4, 'e', 5, ['e', 5]]

In [19]:
names=['rohan','mohan','gita']
names.sort(key=len)
print(names)

['gita', 'rohan', 'mohan']

In [20]:
list3=[(x*2) for x in range(1,11)]
print(list3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
del list3[1:]
print(list3)

[2]

In [23]:
list4=[x+y for x in range(1,5) for y in range(1,5)]
print(list4)

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

In [24]:
tuple2[3]=6#error

TypeError: 'tuple' object does not support item assignment

In [25]:
tuple2.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:

t1=tuple2+(5,)
print(t1)

([2, 4, 6, 8], [3, 6, 9], [4, 8], 5, 5)

In [ ]:
#but
tuple2=([2,4,6,8],[3,6,9],[4,8],5)
t1=tuple()
t1=tuple2+(5,)
t5=tuple2+tuple((5,))##<-------

In [39]:
list(zip(['apple','orange'],('red','orange')))

[('apple', 'red'), ('orange', 'orange')]

In [49]:
#q10
tup1=eval(input("enter a tuple"))
ans_sum=0
t1=tuple()
for i in range(len(tup1)):
    ans_sum=ans_sum+sum(tup1[i])
    t1=t1+(sum(tup1[i]),)
print("sum:",ans_sum)
print(tup1)
print(t1)

sum: 16
((1, 2, 3), (2, 3, 4, 1))
(6, 10)

In [ ]:
#WriteaPythonprogramtoprintM-by-Nlistinthetabularformat.q11
M=int(input("enter M"))
N=int(input("enter N"))
#n=eval(input("enter a M by N list"))
res=list()
innerl=list()
for i in range(M):
    
    for j in range(N):
        a=int(input("enter a number"))
        innerl.append(a)
    innerl2=innerl.copy()#list(inner1);inner[:]    <--as innerl is mutable there =fire create copy before deleting enlse res will be nothing
    res.append(innerl2)
    innerl.clear()
    

print(res)
for i in range(M):
    print(res[i])

[[1, 2], [3, 4], [5, 6]]
[1, 2]
[3, 4]
[5, 6]

In [ ]:
#q12
M=int(input("enter M"))
N=int(input("enter N"))
res=list()
innerl=list()
for i in range(M):
    
    for j in range(N):
        a=eval(input("enter a number"))
        innerl.append(a)
    innerl2=innerl.copy()#list(inner1);inner[:]    <--as innerl is mutable there =fire create copy before deleting enlse res will be nothing
    res.append(innerl2)
    innerl.clear()

for i in range(M):

    print("sum of",i,"row:",sum(res[i]))

for i in range(M):
    print(res[i])

sum of 0 row: 10.5
sum of 1 row: 26.5
sum of 2 row: 14.5
[1.5, 2, 3, 4]
[5.5, 6, 7, 8]
[9.5, 1, 3, 1]

In [68]:
#13
l1=eval(input("enter list of tuples"))
l1.sort(key=lambda x:x[1])
print(l1)

[(1, -2, 8), (1, 0, 3), (1, 2, 3)]

In [69]:
#q14
a=[i**2 for i in range(1,11)]
r=tuple(a)
print(r)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [ ]:
#q15
import random

res=list()
innerl=list()
for i in range(M):
    
    for j in range(N):
        a=random.choice([0,1])
        innerl.append(a)
    innerl2=innerl.copy()#list(inner1);inner[:]    <--as innerl is mutable there =fire create copy before deleting enlse res will be nothing
    res.append(innerl2)
    innerl.clear()

mr=0
mc=0
r,c=0,0
for i in range(M):
    print(res[i])
for i in range(M):
    if(res[i].count(1)>mr):
        r=i
        mr=res[i].count(1)
    #row sum
'''for i in range(N):
    if 
print(r)'''

[0, 1, 1, 0]
[1, 0, 1, 1]
[1, 0, 0, 1]
1

In [ ]:
#q17
n=int(input("enter element"))
#l1=list((n,))#<--
l1=[n,]
print(l1)
for i in range(l1[0]):
    a=int(input("enter a number"))
    l1.append(a)
l2=sorted(l1[1:])
print(l1[1:])
print(l2[:len(l2)-1])
if l2==l1[1:]:
    print("YES")
else:
    print("No")

[5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
YES

In [ ]:
#q16

In [107]:
#q18
import statistics as s
x=eval(input("enter list"))
print(s.mean(x))
#print(s.variance(x))
sig=s.stdev(x)

print(f"standard deviation is {sig:.5f}")
#i/p:[1.9,2.5,3.7,2,1,6,3,4,5,2]

3.11
standard deviation is 1.55738

In [ ]:
#q19
import statistics as s
x=[1,4,7,2,7]
print(s.pvariance(x))
sig=s.pstdev(x)
print(sig)

In [111]:
#q19
x=eval(input("enter list"))
print(x)
x.sort(reverse=True)
print(x[1])

[1, 2, 5, 2, 89, 55]
55

In [120]:
#q21
import copy
l=[['Shallow', 2, 3], [4, 5, 6]]
l2=copy.copy(l)
l3=copy.deepcopy(l)
l2[0][0]="mini"
print("l ",l,id(l))
print("l2",l2,id(l2))

l2[0][0]="ishika"
print("l ",l,id(l))
print("l3",l3,id(l3))

l  [['mini', 2, 3], [4, 5, 6]] 2230353759104
l2 [['mini', 2, 3], [4, 5, 6]] 2230353704832
l  [['ishika', 2, 3], [4, 5, 6]] 2230353759104
l3 [['Shallow', 2, 3], [4, 5, 6]] 2230353704576

In [ ]:
#q23
'''
a)
'''